@{
    Layout = null;
}
@using CAFFEINE.ViewModels

@Html.RenderUnobtrusiveAjaxScript()

<div class="modal fade" tabindex="-1" id="createModal"
     data-keyboard="false" data-backdrop="static">
    @using (Html.AjaxBeginForm("Upload", "Home", new AjaxOptions
     {
         OnSuccess = "onSuccess",
         OnFailure = "onFailure",
         HttpMethod = "Post"
     },
    new { enctype = "multipart/form-data" }
    ))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload</h4>
                    <button id="closeButtonModal" type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <INPUT id="oFile" type="file" runat="server" NAME="oFile">
                </div>
                <div class="modal-footer">
                    <button id="uploadButtonModal" type="submit" class="btn btn-danger button">Upload</button>
                    <button id="cancelButtonModal" type="button" data-dismiss="modal" class="btn btn-primary button">Cancel</button>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function onSuccess() {
        $('#modal-placeholder > .modal').modal('hide');
        location.reload();
    }

    function onFailure() {
        $('#modal-placeholder > .modal').modal('hide');
        alert('Uploading failed');
    }

    $(document).ready(function () {
        $('#createModal > form')[0].addEventListener('submit', renameAndDisable)
    });

    function renameAndDisable() {
        console.log('Invoked');
        $('#uploadButtonModal')[0].disabled = true;
        $('#uploadButtonModal')[0].textContent = 'Uploading...';
        $('#closeButtonModal')[0].disabled = true;
        $('#cancelButtonModal')[0].disabled = true;
    }
</script>